.idea
cmake-build-debug
/*.DS_Store
/src/.DS_Store
/src/project_2/.DS_Store
/src/project_2/C/task_1/encode
/src/project_2/C/task_2/vowel_counter
/src/project_2/C/task_3/html_scanner
/src/project_2/C/task_4/clite_parser
/src/project_2/Go/.idea
/src/project_3/C/cstktest
